*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(179, 211, 211);
}
#wrapper{
    width: 90%;
    background: white;
    margin: 0 auto;
    box-shadow: 2px 2px 5px gray;
}
h2, h3{
    color: rgb(39, 34, 34);
    padding: 5px 5px;
    color: rgb(29, 51, 80);
}
#header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    color: rgb(172, 69, 10);
    position: sticky;
    top: 0;
}
h1{
    padding: 20px 20px;
}
nav{
    display:flex;
    text-align: center;
    padding: 10px 0px;
    background: lightblue;
    position: sticky;
    top: 0;
}
nav a{
    padding: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(44, 12, 54);
}

p{
    line-height: 25px;
    padding: 10px 10px;
    font-size: 1.2rem;
}
#character-list{
    font-size: 1.6rem;
    color: green;
    padding-top: 20px;
}
.lesson-letters{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-gap: 5px;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.8rem;
    font-weight: 500;
    border: 3px solid rgb(201, 169, 133);
    text-align: center;
}
.lesson-letters>div, #vowel-list>div, #syllable-list>div{
    background:rgb(199, 184, 53);
    color: rgb(30, 90, 160);
    border-radius: 2px;
    padding-top: 10px;
}
#character-description{
    margin-top: 30px;
}
#vowel-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
}
#syllable-list{
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 1fr));
}
#vowel-list, #syllable-list{
    grid-gap: 5px;
    margin: 10px 0px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 3px solid rgb(201, 169, 133);
    text-align: center;
}

input[type="text"]{
    width: 136px;
    height: 26px;
    border: 2px solid gray;
    border-radius: 4px;
    color: rgb(119, 67, 18);
    text-align: center;
    margin-top: 30px;
}
button{
    height: 30px;
    width: 140px;
    border-radius: 4px;
    background:rgb(179, 190, 24);
    color: rgb(18, 63, 116);
    font-weight: bold;
    border: 2px solid rgb(80, 98, 114);
}
legend{
    color: rgb(17, 56, 24);
    font-size: 1.1rem;
    margin: 5px;
}
#message{
    color: rgb(23, 80, 23);
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background:rgb(35, 45, 48);
    padding: 10px;
    margin: 20px 0px;
    color: white;
}
#vowels1, #vowels2, #vowels3, #syllables1, #syllables2, #syllables3, #syllables4, #syllables5, #syllables6, #syllables7, #practice-form, #character-description, #blog, #keyboard-setup, #message, #start-button{
    display: none;
}
